/* .container {
  background-color: aquamarine;
  border: 2px solid rgb(40, 176, 47);

  display: inline-flex;
  justify-content: center;

  flex-wrap: wrap;
  width: 506px;
  margin-left: 100px;
  margin-top: 100px;

  position: relative;
  padding: 2px;

} */
.wrapper {
}

.content {
  border: 2px solid rgb(40, 176, 47);
}
.grid_body {
  display: grid;

  grid-template-columns: repeat(8, 1fr);
  /* grid-template-rows: 200px; */
}
.grid_item {
  text-align: center;

  border: 1px solid rgb(40, 47, 176);
}
